<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greeting Email</title>
</head>

<body style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333; text-align: center; padding: 20px;">

<div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border: 1px solid #FEE75C">
  <h1 style="color: #4285f4;">Hi, angeliatko {{name}}!</h1>
  <p style="font-size: 16px; color: #e805c2">Thank you for being you</p>
  <p style="font-size: 16px; color: #00fa46">Що б там не було,</p>
  <p style="font-size: 16px; color: #00fa46">Як би не було,</p>
  <p style="font-size: 16px; color: #00fa46">Всеодно добро,</p>
  <p style="font-size: 16px; color: #00fa46">Закохає зло,</p>
  <p style="font-size: 16px;">Best regards,</p>
  <p style="font-size: 16px;">Your Slava</p>
</div>

</body>

</html>
